<div class="main-navbar">
 <div class="checkbox-container">
  <div 
    (click)="setSearchById()"
    class="checkbox">
    <i 
      *ngIf="isSearchedById"
      class="fas fa-check">
    </i>
  </div>
  <p>Search by id</p>
  </div>
  <div class="main-navbar-search-box">
    <input
      type="text"
      class="main-navbar-search-input"
      [(ngModel)]="searchQuery"
    >
    <button
      (click)="searchMovie()"
      class="search-btn"
    >
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

