<div class="main-navbar">
  <div class="filter-container">
    <button
      class="filter-btn"
      (click)="toggleFilter()"
    >
      <i class="fas fa-filter"></i>
    </button>
    <div
      *ngIf="isFilterOpened"
      class="filter-box"
    >
      <div class="checkbox-container">
        <div
          (click)="setUnknownTitle()"
          class="checkbox">
          <i
            *ngIf="isFilteredByUnknownTitle"
            class="fas fa-check">
          </i>
        </div>
        <p>I don't know the title</p>
      </div>
    </div>
  </div>
 <div class="checkbox-container">
  <div
    (click)="setSearchById()"
    class="checkbox">
    <i
      *ngIf="isSearchedById"
      class="fas fa-check">
    </i>
  </div>
  <p>Search by id</p>
  </div>
  <div class="main-navbar-search-box">
    <input
      type="text"
      class="main-navbar-search-input"
      (keyup)="searchMovieByKeypress($event)"
      [(ngModel)]="searchQuery"
    >
    <button
      (click)="searchMovie()"
      class="search-btn"
    >
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>

