.main-content {
  padding: 30px;
}

.movie-container {
  width: 600px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 18px;
  font-weight: 300;
}

.movie-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-title {
  font-size: 24px;
}

.movie-img {
  max-height: 200px;
  border-radius: 8px;
}

.movie-content-item {
  display: flex;
  margin-top: 12px;

  & p {
    margin-right: 8px;
  }
}

.movie-description {
  font-size: 15px;
  letter-spacing: .5px;
}
